spatch
spatch.opt
scripts/spatch
scripts/spatch.opt
scripts/spatch.byte

*.so
*.cm[aiox]
*.cmxa
*.[ao]
*.annot
*.pyc

*~
.depend
version.ml

configure
Makefile.config
Makefile.override
Makefile.local
result

globals/config.ml
python/pycocci.ml
commons/commands.ml
globals/regexp.ml
ocaml/prepare_ocamlcocci.ml
parsing_cocci/lexer_cli.ml

scripts/spatch.sh
scripts/spatch
scripts/spatch.byte
scripts/spatch.opt

tests/SCORE_actual.sexp
tests/SCORE_best_of_both.sexp
tests/SCORE_expected_orig.sexp
tests/SCORE_expected.sexp
tests/SCORE_expected.sexp.save

config.log
config.status
autom4te.cache
aclocal.m4

*.native
*.byte
*.d.native
*.p.byte
.mascotrc
description-pak
