# In order to make "docker build" use cache as most as possible, there
# are three "prepare" stages.
# - prepare distribution images: build Debian and openSUSE containers
#   with different OCaml versions
# - prepare environment images: build Debian containers with parmap,
#   with menhir, and with pyml - using OCaml 4.11.0. It is worth noticing that
#   all these builds implicitly use the cached container built on the previous
#   stage.
# - prepare image with all dependencies: build Debian container with parmap,
#   menhir and pyml. It is worth noticing that this building use implicitly
#   the cached container with pyml built on the previous stage.

stages:
  - prepare distribution images
  - prepare environment images
  - prepare image with all dependencies
  - build
  - test

# Dockerfiles are split in two:
# - a part specific to the distribution that installs package and adds
#   a user called "ci"
# - a part common to both distributions that makes "ci" sudoer and installs
#   opam
# "docker build" is run twice, once to make the specific part and once to
# make the common part starting from the container prepared by the first part.

.prepare docker image: &prepare_docker_image_def
  script:
    - docker build --tag $image_name-prepare ci/distributions/$distribution
    - docker build --tag $image_name ci/distributions/common
        --build-arg from=$image_name-prepare
        --build-arg ocaml_version=$ocaml_version
        --build-arg stdcompat=$stdcompat --build-arg pyml=$pyml
        --build-arg menhir=$menhir --build-arg parmap=$parmap

prepare Debian + OCaml 4.11.0:
  <<: *prepare_docker_image_def
  stage: prepare distribution images
  variables:
    image_name: debian-4.11.0
    distribution: debian
    ocaml_version: 4.11.0

prepare Debian + OCaml 5.0.0:
  <<: *prepare_docker_image_def
  stage: prepare distribution images
  variables:
    image_name: debian-5.0.0
    distribution: debian
    ocaml_version: 5.0.0

prepare Debian + OCaml 5.2.0:
  <<: *prepare_docker_image_def
  stage: prepare distribution images
  variables:
    image_name: debian-5.2.0
    distribution: debian
    ocaml_version: 5.2.0

prepare Debian + OCaml 5.3.0:
  <<: *prepare_docker_image_def
  stage: prepare distribution images
  variables:
    image_name: debian-5.3.0
    distribution: debian
    ocaml_version: 5.3.0

prepare openSUSE + OCaml 4.11.0:
  <<: *prepare_docker_image_def
  stage: prepare distribution images
  variables:
    image_name: opensuse-leap-4.11.0
    distribution: opensuse-leap
    ocaml_version: 4.11.0

prepare openSUSE + OCaml 5.3.0:
  <<: *prepare_docker_image_def
  stage: prepare distribution images
  variables:
    image_name: opensuse-leap-5.3.0
    distribution: opensuse-leap
    ocaml_version: 5.3.0

# Note: "yes" should be quoted in variable values (yes is parsed as a keyword)

prepare Debian + OCaml 4.11.0 + menhir:
  <<: *prepare_docker_image_def
  stage: prepare environment images
  variables:
    image_name: debian-4.11.0-menhir
    distribution: debian
    ocaml_version: 4.11.0
    menhir: "yes"

prepare Debian + OCaml 4.11.0 + parmap:
  <<: *prepare_docker_image_def
  stage: prepare environment images
  variables:
    image_name: debian-4.11.0-parmap
    distribution: debian
    ocaml_version: 4.11.0
    parmap: "yes"

prepare Debian + OCaml 4.11.0 + pyml:
  <<: *prepare_docker_image_def
  stage: prepare environment images
  variables:
    image_name: debian-4.11.0-pyml
    distribution: debian
    ocaml_version: 4.11.0
    pyml: "yes"

prepare Debian + OCaml 4.11.0 + all dependencies:
  <<: *prepare_docker_image_def
  stage: prepare image with all dependencies
  variables:
    image_name: debian-4.11.0-all-dependencies
    distribution: debian
    ocaml_version: 4.11.0
    pyml: "yes"
    parmap: "yes"
    menhir: "yes"

.build coccinelle: &build_coccinelle_def
  stage: build
  script:
    - docker build --tag coccinelle-with-$from . -f ci/Dockerfile.build
        --build-arg from=$from --build-arg configure_options=$configure_options

build Debian + OCaml 4.11.0:
  <<: *build_coccinelle_def
  variables:
    from: debian-4.11.0

build Debian + OCaml 5.0.0:
  <<: *build_coccinelle_def
  variables:
    from: debian-5.0.0

build Debian + OCaml 5.2.0:
  <<: *build_coccinelle_def
  variables:
    from: debian-5.2.0

build Debian + OCaml 5.3.0:
  <<: *build_coccinelle_def
  variables:
    from: debian-5.3.0

build openSUSE + OCaml 4.11.0:
  <<: *build_coccinelle_def
  variables:
    from: opensuse-leap-4.11.0

build openSUSE + OCaml 5.3.0:
  <<: *build_coccinelle_def
  variables:
    from: opensuse-leap-5.3.0

build Debian + OCaml 4.11.0 + menhir:
  <<: *build_coccinelle_def
  variables:
    from: debian-4.11.0-menhir

build Debian + OCaml 4.11.0 + parmap:
  <<: *build_coccinelle_def
  variables:
    from: debian-4.11.0-parmap

build Debian + OCaml 4.11.0 + pyml:
  <<: *build_coccinelle_def
  variables:
    from: debian-4.11.0-pyml

build Debian + OCaml 4.11.0 + all dependencies:
  <<: *build_coccinelle_def
  variables:
    from: debian-4.11.0-all-dependencies

# Note: use the shell command "test" instead of "[" since yaml wants to parse
# lines starting with square brackets as lists

.test coccinelle: &test_coccinelle_def
  stage: test
  script:
    - docker rm coccinelle-with-$from || true
    - docker create --name coccinelle-with-$from coccinelle-with-$from
        /home/ci/coccinelle/ci/test-script.sh
    - docker start --interactive coccinelle-with-$from
    - docker rm coccinelle-with-$from

test Debian + OCaml 4.11.0:
  <<: *test_coccinelle_def
  variables:
    from: debian-4.11.0

test Debian + OCaml 5.0.0:
  <<: *test_coccinelle_def
  variables:
    from: debian-5.0.0

test Debian + OCaml 5.2.0:
  <<: *test_coccinelle_def
  variables:
    from: debian-5.2.0

test Debian + OCaml 5.3.0:
  <<: *test_coccinelle_def
  variables:
    from: debian-5.3.0

test openSUSE + OCaml 4.11.0:
  <<: *test_coccinelle_def
  variables:
    from: opensuse-leap-4.11.0

test openSUSE + OCaml 5.3.0:
  <<: *test_coccinelle_def
  variables:
    from: opensuse-leap-5.3.0

test Debian + OCaml 4.11.0 + menhir:
  <<: *test_coccinelle_def
  variables:
    from: debian-4.11.0-menhir

test Debian + OCaml 4.11.0 + parmap:
  <<: *test_coccinelle_def
  variables:
    from: debian-4.11.0-parmap

test Debian + OCaml 4.11.0 + pyml:
  <<: *test_coccinelle_def
  variables:
    from: debian-4.11.0-pyml

test Debian + OCaml 4.11.0 + all dependencies:
  <<: *test_coccinelle_def
  variables:
    from: debian-4.11.0-all-dependencies

test Debian + OCaml 4.11.0 + no python:
  <<: *test_coccinelle_def
  variables:
    from: debian-4.11.0
    configure_options: --disable-python

#trace-cmd-check-changed:
#  stage: trace-cmd
#  image: "registry.gitlab.inria.fr/inria-ci/docker/python3-cloudstack"
#  tags:
#    - linux
#    - small
#  rules:
#    - if: $CLOUDSTACK_API_KEY
#  script:
#    - cd ci/trace-cmd
#    - python3 check-template-changed.py > ../../trace-cmd-config.yml
#  artifacts:
#    paths: [trace-cmd-config.yml]
#
#trace-cmd:
#  stage: trace-cmd
#  needs: [trace-cmd-check-changed]
#  rules:
#    - if: $CLOUDSTACK_API_KEY
#  trigger:
#    include:
#      - artifact: trace-cmd-config.yml
#        job: trace-cmd-check-changed
