spatch
spatch.opt
scripts/spatch
scripts/spatch.opt
scripts/spatch.byte

*.so
*.cm[aiox]
*.cmxa
*.[ao]

*~
_build
.depend
test.ml
version.ml

Makefile.config

globals/config.ml
python/pycocci.ml

globals/regexp.ml
ocaml/prepare_ocamlcocci.ml
parsing_cocci/lexer_cli.ml
