spatch
spatch.opt
scripts/spatch
scripts/spatch.opt
scripts/spatch.byte

*.so
*.cm[aiox]
*.cmx[as]
*.cmt
*.cmti
*.[ao]
*.annot
*.pyc
*.d
*.d.opt
*.conflicts

*~
*.swo
*.swp
.depend
version.ml

/configure
Makefile.config
Makefile.override
Makefile.local
result
setup/Makefile.in

globals/config.ml
python/pycocci.ml
commons/commands.ml
globals/regexp.ml
ocaml/prepare_ocamlcocci.ml
parsing_cocci/lexer_cli.ml

scripts/spatch.sh
scripts/spatch
scripts/spatch.byte
scripts/spatch.opt

tests/SCORE_actual.sexp
tests/SCORE_best_of_both.sexp
tests/SCORE_expected_orig.sexp
tests/SCORE_expected.sexp
tests/SCORE_expected.sexp.save

config.log
config.status
autom4te.cache
aclocal.m4

*.native
*.byte
*.d.native
*.p.byte
.mascotrc
description-pak
*.current
/bundles/pyml/pyml-current/pyml_arch.ml
/bundles/stdcompat/config.h
/bundles/stdcompat/stdcompat.h
/bundles/stdcompat/*.ml
/bundles/stdcompat/*.mli
/bundles/stdcompat/stdcompat-*/META
/bundles/stdcompat/stdcompat-*/Makefile
/bundles/stdcompat/stdcompat-*/*.ml
/bundles/stdcompat/stdcompat-*/*.mli
/bundles/stdcompat/stdcompat-*/config.h
/bundles/stdcompat/stdcompat-*/config.h.in
/bundles/stdcompat/stdcompat-*/stamp-h1
/bundles/stdcompat/stdcompat-*/stdcompat.h
/bundles/stdcompat/stdcompat-*/stdcompat__stubs.c
/bundles/stdcompat/stdcompat-*/stdcompat__native.ml_byte
/bundles/stdcompat/stdcompat-*/stdcompat__native.ml_native
!/bundles/stdcompat/stdcompat-*/stdcompat__native.mli
/bundles/stdcompat/doc/
/bundles/menhirLib/menhir-20171013/
/bundles/parmap/parmap/src/parmap_compat.ml
/bundles/parmap/setcore_stubs.h.in
/bundles/parmap/configure
/bundles/parmap/parmap/src/setcore_stubs.h
/bundles/parmap/parmap/src/bytearray.ml
/bundles/parmap/parmap/src/parmap.ml
