// Generated config
description = A generated context rule! This is a Coccinelle script that tests the use of the local function metavariable type in SmPL. This comment is longer than 80 characters, so it will be split.
confidence = Low
5:localf =
  org:"Found a function with arguments %s and %s that multiplies its arguments" % (x,y)
  report:"ERROR: Found a function with arguments %s and %s that are multiplied" % (x,y)
