description = This is a description for the Coccinelle script tiny.cocci.
confidence = Low
keywords = tiny, negative, assignment.
limitations = limitation 1.|limitation 2.
authors = Karl Koder, DIKU. Some license.|Hanne Hacker, DIKU. Some license.
url = http://coccinelle.lip6.fr/
options = --option-1, --option-2, --option-3.
comments = Further comments.
some_rule =
  org: "WARNING: Check for negative value in assignment"
  report: "Check for negative value in assignment"
