spgen
spgen.opt
scripts/spgen.sh

*.cm[aiox]
*.cmxa
*.[ao]
spgen_lexer.ml

*~
.depend

_build
_log
*.native
*.byte

*.aux
*.log
*.out
*.pdf
*.toc
*.fdb_latexmk

tests/ctests/SCORE_actual.score
tests/ctests/SCORE_best_of_both.score
tests/ctests/SCORE_expected.score
tests/ctests/SCORE_expected.score.save
