_build/
*.install
.merlin
*~
*.[ao]
*.cm[aiotx]
*.cmti
*.cmx[as]
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/doc/
/tests.bytecode
/tests.native
/META
/stdcompat.ml_byte
/stdcompat.ml_native
/.depend
/stdcompat_*.ml
/stdcompat_*.mli
/configure
/interface_generator/interface_dumper
/interface_generator/interface_generator
/interface_generator/.depend
/stdcompat.ml
/stdcompat.mli
/config.guess
/config.log
/config.status
/config.sub
