_build/
*.install
.merlin
*~
*.[ao]
*.cm[aiotx]
*.cmti
*.cmx[as]
/Makefile
/autom4te.cache
/doc/
/tests.bytecode
/tests.native
/META
/stdcompat.ml_byte
/stdcompat.ml_native
/.depend
/stdcompat_*.ml
/stdcompat_*.mli
!/stdcompat__native.mli
/tools/interface_dumper
/tools/interface_generator
/tools/.depend
/stdcompat.ml
/stdcompat.mli
/config.guess
/config.log
/config.status
/config.sub
/stamp-h1
*.so
/stdcompat__stubs.c
/stdcompat_tests
/tools/stdcompatpp.ml
/tools/stdcompatpp
/tools/stdcompatpp.opt
