Source: coccinelle
Section: devel
Priority: optional
Maintainer: Nicolas Palix <npalix.work@gmail.com>
XSBC-Original-Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders: Євгеній Мещеряков <eugen@debian.org>
Build-Depends:
 debhelper (>= 7.0.50~),
 dh-ocaml,
 pkg-config (>= 0.9.0),
 ocaml-nox (>= 3.11.0),
 ocaml-best-compilers,
 ocaml-findlib,
 pycaml (>= 0.82-10) | libpycaml-ocaml-dev (>= 0.82-13),
 python-dev,
 python-support (>= 0.6),
 menhir (>= 20090204.dfsg),
 libmenhir-ocaml-dev (>= 20090204.dfsg),
 libpcre-ocaml-dev,
 texlive-latex-base,
 texlive-latex-recommended,
 texlive-latex-extra,
 texlive-fonts-recommended,
 texlive-fonts-extra
Standards-Version: 3.9.2
Homepage: https://coccinelle.gitlabpages.inria.fr/website/
Vcs-Git: git://git.debian.org/git/pkg-ocaml-maint/packages/coccinelle.git
Vcs-Browser: http://git.debian.org/?p=pkg-ocaml-maint/packages/coccinelle.git

Package: coccinelle
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 ${ocaml:Depends},
 ${python:Depends},
Recommends:
 python-gobject,
 python-glade2,
 ocaml-best-compilers,
 ocaml-findlib,
 libpcre-ocaml
Suggests: vim-addon-manager
Description: semantic patching tool for C
 Coccinelle is a program matching and transformation tool for C.
 The programmer describes the code to match and the transformation to
 perform as a semantic patch, which looks like a standard patch, but can
 transform multiple files at any number of code sites.
