/* This is a comment! */

d = This is a Coccinelle script to test inheritance between rules.
c = h
k = inheritance, test.
o = --a-flag, --another-flag, --a-third-flag.
l = Only works for functions with exact names f, g, h, hh.|Not really useful.
a = Author1, affiliation. License1|Author2, affiliation. License2|Author3.
u = http://coccinelle.lip6.fr/
m = Additional comments.
11:rule_h =
  org:"Replace call to h with call to hh on expression %s." % r.x
  // no report message; use same as org
19:rule_h2 =
  org:"This is a message for rule_h2 in org mode."
  report:"This is a message for rule_h2 in report mode."
// nothing for rule on line 25; let the program generate it
