description = Removes field and name struct fields from module_ calls.
keywords = MACRO, .name, .field.
confidence = Low
fix1 =
  org:"Found .field = MACRO for identifier %s" % (match1.d)
  report:"Found .field = MACRO for identifier %s" % (match1.d)
fix2 =
  org:"Found .name = MACRO for identifier %s" % (match2.d)
  report:"Found .name = MACRO for identifier %s" % (match2.d)
