_build
.merlin
.depend
*.cm[aioxt]
*.cmti
*.cmx[as]
*.[ao]
*.so
*.swp
*~
*.inc
/generate
/pyml.h
/pyml_libdir.ml
/pyml_compat.ml
/pyml_arch.ml
/pywrappers.mli
/pywrappers.ml
/pymlutop
/pyml_tests.bytecode
/numpy_tests.bytecode
/pyml_tests.native
/numpy_tests.native
