// Generated config
description = Adds void to function headers with no arguments.
limitations = If a matched function has a prototype declaration, the script will not match the prototype.
confidence = High
options = --recursive-includes
url = https://coccinelle.gitlabpages.inria.fr/website/
5:addvoid =
  org:"WARNING: Zero-argument function \"%s\" should have void declaration." % (f)
