// description and confidence are required, everything else is optional

description = Description for the disj script.
confidence = Moderate
limitations = This is a limitation.|This is another limitation.
comments = This is to test disjunction generation.
disj =
  org: "Org message. Found a match in disj rule."
  report: "Report message. Remove call to this(%s) and replace with call to that(%s)" % (E1,E2)
