// Generated config
description = Adds void to function headers with no arguments.
limitations = If a matched function has a prototype declaration, the script will not match the prototype.|Another limitation can be specified with a pipe as a delimiter.
confidence = High
options = --recursive-includes
url = http://coccinelle.lip6.fr
1:addvoid =
  org:"WARNING: Zero-argument function \"%s\" should have void declaration." % (f)
