// Generated config
description = include script
confidence = Low
special_header =
  org:"this is a special rule"
  report:"this is a special rule"
linux_header =
  org:"this is a third rule"
  report:"this is a third rule"
eth_zero_addr =
  org:"this is a rule"
  report:"this is a rule"
eth_broadcast_addr =
  org:"this is antoher rule"
  report:"this is antoher rule"
custom_header =
  org:"this is a custom rule"
  report:"this is a custom rule"
